html,
body {
	width: 333px;
	min-height: auto;
	height: auto;
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
	padding: 0;
	color: #000000;
	padding-top: 10px;
	padding-left: 4px;
	padding-right: 4px;
	border: none;
	outline: none;
	overflow: hidden;
	background-clip: padding-box;
}

.footer p {
    font-size: 14px;
}

.top-text {
	font-size: 11px;
	color: #707070;
	margin-top: 1px;
}

body.night-mode {
	background-color: #000000;
	color: #ffffff;
}

body.day-mode {
	background-color: #ffffff;
	color: #000000;
}

.banner {
	position: absolute;
	top: 8px;
	width: 32px;
	height: 18px;
	right: 5px;
}

.undo-button {
	display: inline-block;
	padding: 11px 15px;
	border: none;
	border-radius: 50%;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	cursor: pointer;
	background-image: url('images/internal_images/undo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-left: -16px;
	position: relative;
}

.undo-button::after {
	content: attr(data-tooltip); 
	position: absolute;
	top: 100%;
	left: 50%;
	background-color: #777777;
	color: #ffffff;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.undo-button:hover::after {
	opacity: 1;
	pointer-events: auto;
}

body.night-mode .undo-button {
	color: #00ccff;
}

body.day-mode .undo-button {
	color: #000000;
}

body.night-mode .undo-button:hover {
	color: #ffffff;
}

body.day-mode .undo-button:hover {
	color: #000000;
}

#volume-text {
	width: auto;
	border: none;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
}

body.day-mode #volume-text {
	color: #000000;
}

input:checked + .slider:before {
	background-color: #000000; 
}

input:not(:checked) + .slider:before {
	background-color: #ffffff;
}

.hidden {
	display: none;
}

.title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 12px;
	margin-left: 8px; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 220px; 
	display: inline-block; 
	vertical-align: middle; 
}

.center {
	text-align: center;
}

.text-left {
	text-align: left;
}

input[type=range] {
	width: 100%;
	margin: 0;
}

input[type=range]:focus {
	outline: none;
}

.solid-line {
	border: none;
	border-top: 1px solid #8a8a8a;
	margin-top: 35px;
	margin-bottom: -6px;
}

body.night-mode .solid-line {
	border-top-color: #ffffff;
}

body.day-mode .solid-line {
	border-top-color: #000000;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
	box-shadow: none;
	border: none;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: #000000; /* Default knob color */
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
	transition: background-color 0.5s;
}

input[type=range],
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track {
	width: 88%;
	height: 5px;
	cursor: hand;
	box-shadow: none;
	background: #00f7ff; /* Default slider background color */
	border-radius: 1;
	border: none;
}

body.night-mode input[type=range]::-webkit-slider-thumb,
body.night-mode input[type=range]::-moz-range-thumb {
	background: #ffffff;
}

body.day-mode input[type=range]::-webkit-slider-thumb,
body.day-mode input[type=range]::-moz-range-thumb {
	background: #000000;
}

input[type=range]:active::-webkit-slider-thumb,
input[type=range]:active::-moz-range-thumb {
	background: #cccccc; /* Default active knob color */
}

body.night-mode input[type=range]:active::-webkit-slider-thumb,
body.night-mode input[type=range]:active::-moz-range-thumb {
	background: #333333;
}

body.day-mode input[type=range]:active::-webkit-slider-thumb,
body.day-mode input[type=range]:active::-moz-range-thumb {
	background: #b1b1b1;
}

input[type=range]:focus::-webkit-slider-runnable-track,
input[type=range]::-ms-track {
	width: 80%;
	height: 10px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

#volume-text:focus {
	outline: none;
}

#volume-slider {
	margin-top: 19px;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
	background: #fcfcfc;
	border: 0.5px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #777777; /* Default knob color */
	cursor: pointer;
	height: 10px;
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
	background: #000000; /* Default slider background color */
}

input[type=range]::-webkit-slider-runnable-track::-webkit-slider-thumb {
	background-color: rgb(126, 126, 126);
}

input[type=range]::-moz-range-track::-moz-range-thumb {
	background-color: rgb(255, 255, 255);
}

.switch {
	position: relative;
	display: inline-block;
	width: 42px;
	height: 24px;
	margin-bottom: 4px;
	margin-top: 4px;
	border-radius: 13px;
	background-color: #777777; /* Default switch background */
	overflow: hidden;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #707070; /* Default slider background */
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 7px;
	bottom: 5px;
	background-color: #000000; /* Default knob color */
	transition: .5s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #0199c7; /* Default slider background when checked */
}

input:checked + .slider:before {
	transform: translateX(12px);
}

body.day-mode .slider {
	background-color: #777777;
}

body.night-mode .slider:before {
	background-color: #000000;
}

body.day-mode .slider:before {
	background-color: #000000;
}

body.day-mode input[type=range],
body.day-mode input[type=range]::-webkit-slider-runnable-track,
body.day-mode input[type=range]::-moz-range-track {
	background: #000000; /* Default slider background in day mode */
}

body.day-mode input[type=range]::-webkit-slider-thumb,
body.day-mode input[type=range]::-moz-range-thumb {
	background: #000000; /* Default knob color in day mode */
}

body.day-mode .switch {
	background-color: #00ccff;
}

body.night-mode .switch input[type="checkbox"]:checked + .slider {
	background-color: #ffffff; 
}

body.day-mode .switch input[type="checkbox"]:checked + .slider {
	background-color: #000000; 
}

body.day-mode input:checked + .slider:before {
	background-color: #ffffff;
}

body.day-mode input:not(:checked) + .slider:before {
	background-color: #000000;
}

.favicon {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: middle;
}

.title {
	font-weight: normal;
	font-size: 12px;
	align-items: left;
	margin-left: -5px;
	list-style-type: decimal;
}

.header-small {
	font-size: 16px;
	padding-top: 15px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	letter-spacing: 0.4px;
	font-weight: normal;
	margin: auto;
}

.header-small::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #000000; /* Default line color */
	bottom: -5px;
}

body.night-mode .header-small::after {
	background-color: #ffffff;
}

body.day-mode .header-small::after {
	background-color: #000000;
}

#tab-list li {
	cursor: pointer;
	font-weight: normal;
	font-size: 12px;
	align-items: left;
	list-style: none;
	color: rgb(190, 190, 190); /* Default text color */
	transition: background-color 0.5s; 
	border-radius: 13px; 
	padding-bottom: 15px;
	position: relative;
    padding-right: 60px; 
}

body.day-mode #tab-list li {
	color: rgb(65, 65, 65); /* Text color in day mode */
}

#tab-list li:hover {
	cursor: pointer;
	background-color: #202020;
	border-radius: 17px;
	margin-left: -10px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	transition: 0.3s;
	transform: translate(5px, -5px);
}

body.night-mode #tab-list li:hover {
	background-color: #424242;
	color: #ffffff;
}

body.day-mode #tab-list li:hover {
	background-color: #c0c0c0;
	color: #000000;
}

#tab-list {
	text-align: left;
	margin-left: -30px;
}

.loop-button {
    display: none;
    position: absolute;
    right: 10px;
    margin: auto; 
    height: 24px; 
    border: none;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.loop-button img {
    filter: brightness(0) saturate(100%) invert(47%) sepia(82%) saturate(1436%) hue-rotate(165deg) brightness(94%) contrast(101%);
}

.loop-button.active {
    display: inline-block;
    background-color: transparent; 
}

.loop-button::after {
    content: attr(data-tooltip);
    position: absolute;
    right: calc(100% + 10px); 
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.loop-button::before {
    content: "";
    position: absolute;
    right: calc(100% + 4px);  
    top: 50%;
    transform: translateY(-50%);
    border-left: 6px solid #000000; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.loop-button:hover::after,
.loop-button:hover::before {
    opacity: 1;
    pointer-events: auto;
}

.loop-button:hover::after {
    opacity: 1;
    pointer-events: auto;
}

#tab-list li:hover .loop-button {
    display: inline-block;
}

.github-button {
	font-size: 12px;
	text-decoration: none;
}

.github-button:hover {
	position: relative;
	animation: blinkers 2s infinite;
}

.rate-link {
	font-size: 12px;
	text-decoration: none;
}

.footer-links{
	margin-bottom: 0px;
}

@keyframes blinkers {
	0% {
		opacity: 0;
		color: rgb(19, 0, 126); 
	}
	25% {
		color: rgb(133, 0, 0); 
	}
	50% {
		opacity: 1;
		color: rgb(0, 255, 242); 
	}
	75% {
		color: rgb(136, 255, 0); 
	}
	100% {
		opacity: 0;
		color: rgb(238, 255, 0);
	}
}