html,
body {
	width: 390px;
	min-height: auto;
	height: auto;
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
	padding: 0;
	color: #000000;
	padding-top: 10px;
	padding-left: 4px;
	padding-right: 4px;
	border: none;
	outline: none;
	overflow: hidden;
	background-clip: padding-box;
  }
  
  .footer p {
    font-size: 14px;
  }

  .top-text {
	font-size: 12px;
	color: #525252;
	margin-top: 1px;
  }

body.night-mode {
	background-color: #000000;
	color: #ffffff;
	min-height: auto;
	height: auto;
  }
  
  .banner {
	position: absolute;
	top: 10px;
	width: 30px;
	height:15px;
	right: 5px;
  }
  .undo-button {
	display: inline-block;
	padding: 11px 15px;
	border: none;
	border-radius: 50%;
	background-color: transparent;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	background-image: url('undo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	outline: none;
	margin-left: -16px;
	position: relative;
}

.undo-button::after {
	content: attr(data-tooltip); 
	position: absolute;
	top: 100%;
	left: 50%;
	background-color: #777777;
	color: #ffffff;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.undo-button:hover::after {
	opacity: 1;
	pointer-events: auto;
}

body.night-mode .undo-button {
	color: #00ccff;
  }

body.day-mode .undo-button {
	color: #000000;
  }

body.night-mode .undo-button:hover {
	color: #ffffff;
}

  
#volume-text {
	border: none;
	color: #ffffff; /* Dark mode text color */
}


#volume-text {
	width: auto;
	border: none;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #ffffff; /* Dark mode volume text color */
}

input:checked + .slider:before {
	background-color: #000000; 
}

  input:not(:checked) + .slider:before {
	background-color: #ffffff;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

input[type=range] {
	width: 100%;
	margin: 0;
}

input[type=range]:focus {
	outline: none;
}

.solid-line {
	border: none;
	border-top: 1px solid #00ccff;
	margin-top: 35px;
	margin-bottom: -6px;
  }
  
  
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
	box-shadow: none;
	border: none;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: #000000; /* Slider knob color */
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
	transition: background-color 0.5s;
}

input[type=range],
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track {
	width: 88%;
	height: 5px;
	cursor: hand;
	box-shadow:none;
	background: #00f7ff; /* dark Slider background color */
	border-radius: 1;
	border: none; 
}

/*knob*/
body.night-mode input[type=range]::-webkit-slider-thumb,
body.night-mode input[type=range]::-moz-range-thumb {
	box-shadow: none;
	border: none;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: #ffffff; /* Slider knob color */
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
	transition: background-color 0.5s;
}

input[type=range]:active::-webkit-slider-thumb,
input[type=range]:active::-moz-range-thumb {
  background: #cccccc; /* Change the color when the slider is clicked */
}

body.night-mode input[type=range]:active::-webkit-slider-thumb,
body.night-mode input[type=range]:active::-moz-range-thumb {
	background: #333333; /* Dark mode Slider knob color */
}

body.day-mode input[type=range]:active::-webkit-slider-thumb,
body.day-mode input[type=range]:active::-moz-range-thumb {
	background: #b1b1b1; /* Day mode Slider knob color */
}

input[type=range]:focus::-webkit-slider-runnable-track,


input[type=range]::-ms-track {
	width: 80%;
	height: 10px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

#volume-text:focus {
	outline: none;
}

#volume-slider {
	margin-top: 19px;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
	background: #fcfcfc;
	border: 0.5px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #777777; /* day Slider knob color */
	cursor: pointer;
	height: 10px;
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
	background: #000000; /* day Slider background color */
}

input[type=range]::-webkit-slider-runnable-track::-webkit-slider-thumb {
	background-color: rgb(126, 126, 126);
}

input[type=range]::-moz-range-track::-moz-range-thumb {
	background-color: rgb(255, 255, 255);
}

/* Dark Mode Styles */
.switch {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 24px;
	margin-bottom: 4px;
	margin-top: 4px;
	border-radius: 12px;
	background-color: #777777; /* Dark mode background */
	overflow: hidden;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* slider for night mode*/
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #777777; /* Dark mode background */
	transition: .8s;
	border-radius: 12px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 7px;
	bottom: 5px;
	background-color: #000000; /* Dark mode knob color */
	transition: .8s;
	border-radius: 8px;
}

input:checked + .slider {
	background-color: #ffffff; /* Dark mode background */
}

input:checked + .slider:before {
	transform: translateX(16px);
}

body.day-mode {
	width: 390px;
	min-height: auto;
	height: auto;
	box-sizing: border-box;
	padding-left: 4px;
	padding-right: 4px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 0;
	background-color: #ffffff;
	color: #000000;
	padding-top: 10px;
	border: none;
	outline: none;
	overflow: hidden;
	background-clip: padding-box;
}

body.day-mode .switch {
	background-color: #00ccff; /* Light mode background */
}


body.day-mode .slider {
	background-color: #777777; /* Light mode background */
}

body.day-mode input[type=range],
body.day-mode input[type=range]::-webkit-slider-runnable-track,
body.day-mode input[type=range]::-moz-range-track {
	width: 88%;
	height: 5px;
	cursor: hand;
	box-shadow:none;
	background: #000000; /* dark Slider background color */
	border-radius: 1;
	border: none;
}

body.day-mode .slider:before {
	background-color: #000000; /* Dark mode knob color */
}

body.day-mode .slider:after {
	background-color: #000000; /* Dark mode knob color */
}

body.day-mode input[type=range]::-webkit-slider-thumb,
body.day-mode input[type=range]::-moz-range-thumb {
	background: #000000; /* Dark mode slider color */
	display: none;
}

body.day-mode #volume-text {
	color: #000000; /* Dark mode text color */
}

body.day-mode .switch input[type="checkbox"]:checked + .slider {
	background-color: #000000; 
}

body.day-mode input:checked + .slider:before {
	background-color: #ffffff; 
  }
  
  body.day-mode input:not(:checked) + .slider:before {
	background-color: #000000; 
  }

  .favicon {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: middle;
  }
  
  .title {
	font-weight: normal;
	font-size: 12px;
	align-items: left;
	margin-left: -5px;
	list-style-type: decimal;
  }

  /*header*/

  .header-small {
  font-size: 14px;
  position: relative;
  font-weight: normal;
  padding-right: 40px;
}


.header-small::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000000; 
}


body.night-mode .header-small::after {
  background-color: #ffffff;
}


body.day-mode .header-small::after {
  background-color: #000000;
}

.header-small::after {
  bottom: -5px;
}

#tab-list li {
	cursor: pointer;
	font-weight: normal;
	font-size: 12px;
	align-items: left;
	list-style: none;
	color: rgb(190, 190, 190);
	transition: background-color 0.3s; 
	border-radius: 13px; 
	padding-bottom: 15px;
  }

  body.day-mode #tab-list li {
	cursor: pointer;
	font-weight: normal;
	font-size: 12px;
	align-items: left;
	list-style: none;
	color: rgb(65, 65, 65);
	transition: background-color 0.5s; 
	border-radius: 13px;
	padding-bottom: 15px;
  }

  #tab-list li:hover {
	cursor: pointer;
	background-color: #202020;
	border-radius: 17px;
	margin-left: -10px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	transition: 0.3s;
	transform: translate(-5px, -7px);
  }
  
  body.night-mode #tab-list li:hover {
	background-color: #202020;
	border-radius: 20px;
	color: #ffffff;
  }
  
  body.day-mode #tab-list li:hover {
	background-color: #c0c0c0;
	border-radius: 20px;
	color: #000000;
  }

  #tab-list {
	text-align: left;
	margin-left: -30px;
  }

  .github-button{
	font-size: 16px;
  }
  .github-button:hover {
	position: relative;
	animation: blinkers 2s infinite;
  }

  .rate-link {
	font-size: 16px;
  }

@keyframes blinkers {
0% {
  opacity: 0;
  color: rgb(19, 0, 126); 
}
25% {
  color: rgb(133, 0, 0); 
}
50% {
  opacity: 1;
  color: rgb(0, 255, 242); 
}
75% {
  color: rgb(136, 255, 0); 
}
100% {
  opacity: 0;
  color: rgb(238, 255, 0);
}
}

